#flashcard-view {
  background-color: white;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px;
  border-color: #FF2F00;
  background-color: #CDFFED;
}

#flashcard-content-div {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

}
#flaschard-header {
  height: 40%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  margin: auto;
  margin-bottom: 0;
  padding: 30px 30px 0px 30px;

}

#flashcard-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  height:60%;
  margin:0;
  padding:0px 20px 0px 20px;
}

#container-nav-main {
  display: flex;
}

div.set-item {
  width: 80px;
  margin: 5px auto;
  padding: 10px;
  background-color: #FF2F00;
  border-radius: 15px;
  text-align: center;

}

header {
  background-color: #00B272;
  color: #FF2F00;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

nav, #right-side-screen {
  background-color: #00B272;
  width: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
}

nav h2 {
  margin: 0 auto;
}

main {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50px;
  padding: 30px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  background-color: #00B272;
}
